
#home-icon-btn:hover{
    filter: brightness(150%);
    cursor: pointer;
}


.loginlogout:hover{
    filter: brightness(130%);
    cursor: pointer;
}


.menu {
    display: flex;
    background-color: #333333;
    color: white;
    align-items: center;
    padding: .5rem 0 ;
    justify-content: space-between;
    
}

.logosection {
    justify-self: flex-start;
    padding-left: 1rem;
}

.logosection img {
    cursor: pointer;
}

.menuitems {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#botaomenu {
    font-size: 1rem;

}

.search-form-field {
    padding: 0;
}

#botaosessao {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: white;
    background-color: #2E2E2E;
    border: none;
    border-radius: 1rem;
    padding: .5rem .5rem;
}