.card-game {
    margin: 2rem 0;
    width: 25%;
    justify-self: center;
    margin-left: 40%;

}

p mat-icon{
    color: white;;
}

#botaocomprar {
    text-align: center;
    margin-left: 12rem;
}