<mat-card class="cardCadastro">
    <mat-card-header>
        <mat-card-title>Cadastro de Usuário</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="formCadastro">

            <!-- <mat-form-field class="inputUserCadastro" appearance="fill">
                <mat-label>Id</mat-label>
                <input matInput [(ngModel)]="user.id" name="userid" placeholder="Id">
            </mat-form-field> -->
            <mat-form-field class="inputUserCadastro" appearance="fill">
                <mat-label>CPF</mat-label>
                <input matInput [(ngModel)]="user.cpf" name="usercpf" placeholder="cpf">
            </mat-form-field>

            <mat-form-field class="inputUserCadastro" appearance="fill">
                <mat-label>Nome/Usuário</mat-label>
                <input matInput [(ngModel)]="user.nome" name="userid" placeholder="Nome">
            </mat-form-field>

            <mat-form-field class="inputUserCadastro" appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput [(ngModel)]="user.senha" name="usersenha" type="text" placeholder="password">
            </mat-form-field>
            
            <mat-form-field class="inputUserCadastro" appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput [(ngModel)]="user.email" name="useremail" type="email" placeholder="E-mail">
                <mat-icon matSuffix>dit</mat-icon>
            </mat-form-field>

        </form>
    </mat-card-content>
    <mat-card-actions>
        <button id="botaocadastrar" mat-raised-button color="warn" (click)="InserirouAtualizarUser()">{{nomeBotao}}</button>
    </mat-card-actions>







</mat-card>