<div class="game-section">
    <div>
        <img src="assets/Images/M&B2.jpg" alt="">
    </div>
    <div class="game-section-text">
        <h1>Mount & Blade 2: Bannerlord</h1>
        <p>
            Ao ressoar das trompas, os corvos se amon
            toam. Um império cindido pela guerra civil. Além das fronteiras, novos reinos se erguem. Empunhe sua espada, ostente sua armadura, convoque sua comitiva e cavalgue rumo à glória nos campos de batalha de Calrádia. Instaure sua hegemonia e, das cinzas do velho mundo, crie uma nova ordem.
            
            <br>
            Mount & Blade II: Bannerlord é a aguardadíssima sequ
            ência do aclamado simulador de combate medieval e RPG Mount & Blade: Warband. Passando-se 200 anos antes, ele expande tanto o detalhado sistema de batalha quanto o mundo de Calrádia. Bombardeie fortificações com armas de cerco, organize impérios criminosos secretos nos becos escuros das cidades e encare batalhas caóticas para ganhar cada vez mais poder.
        </p>
        <h3>ID: 1</h3>
    </div>
</div>

<p>
    <mat-icon [matBadge]="keys.length" matBadgeColor="primary">key</mat-icon>
</p>

<div>
    <mat-card *ngFor="let key of keys" class="card-game">
        <mat-card-header>
            <!-- <mat-icon>key</mat-icon> -->
            <mat-card-title>
                Usuário: {{key.user_email}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Preço: R$:{{key.preco}},00
        </mat-card-content>

        <!--<button mat-icon-button (click)="removerKey(key)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/editarkey', key.id]">
            <mat-icon>edit</mat-icon>
        </button> -->

        <mat-card-actions>
            <button id="botaocomprar" mat-raised-button color="warn"
                [routerLink]="['/compra-game-key', key.id]">Comprar</button>
        </mat-card-actions>
    </mat-card>
</div>