<body>

    <div class="container">

        <div id="searchbarhome">
            <input type="text" name="pesquisar" placeholder="Pesquisar">
            <span class="icon"><mat-icon aria-hidden="false" fontIcon="search"></mat-icon></span>
        </div>

        <div class="content-test">
            <div class="banner-section">
                <!-- <img src="assets/Images/bannerlord.gif" id="banner"> -->
                
                
            </div>
            <div class="top-game">
                <div>
                    <h1>CAVALGUE RUMO À GLÓRIA</h1>
                    <img src="assets/Images/M&B2.jpg" id="top-game-img" alt="" [routerLink]="['game/mount&blade']">
                </div>
                <div class="top-game-prnts" [routerLink]="['game/mount&blade']">
                    <!-- <img src="assets/Images/M&B2_01.jpg" class="top-game-prnts-transition" alt=""> -->
                </div>

            </div>

        <div class="second-games-bar">
            <div class="second-games">
                <h2>MAIS VENDIDOS</h2>
                <div>
                    <img src="assets\Images\COD3.jpg" [routerLink]="['game/cod']">
                    <img src="assets\Images\TW3.jpg"  [routerLink]="['game/thewitcher3']"> 
                </div>
                <div>
                    <img src="assets\Images\TRPC6.jpg" [routerLink]="['game/tropico_6']">
                    <img src="assets\Images\sekiro.jpg" [routerLink]="['game/sekiro']">

                </div>

            </div>
                
        </div>

        </div>


    </div>




    <!-- Tentar estilizar o form despois  -->

    <!-- <mat-form-field class="search-form-field" appearance="blank">
             <mat-label>Clearable input</mat-label> 
            <input matInput type="text" [(ngModel)]="search">
            <button  matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field> -->






</body>
<app-footer></app-footer>
