*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #262626;
    height: 2800px;
}

body img:hover {
    cursor: pointer;
}

.container {
    background-color: #262626;
}

#searchbarhome {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

#searchbarhome input {
    margin-top: 5rem;
    padding: 1.3rem 0;
    background-color: #404040;
    color: #707070;
    border-radius: 16px;
    text-align: center;
    width: 40rem;
    height: 2.5rem;
    font-size: 1.250rem;
}

.icon {
    bottom: .4rem;
    right: 40rem;
    position: absolute;
    color: #707070;
}

.content-test {
    margin-top: 8rem;
    gap: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}


// SECÃO DOS GÊNEROS DOS JOGOS



// SEÇÃO DOS JOGOS
h1 {
    font-size: 2rem;
    color: #a5a5a5;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 0.15em rgb(122, 122, 122);
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);

}

h2 {
    font-size: 1.5rem;
    color: #a5a5a5;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-section {
    display: flex;
    justify-items: center;
    width: 100%;
    height: 40rem;
    background-image: url('../../../assets/Images/bannerlord.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


.top-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-game-img {
    border-radius: 2%;
    filter: drop-shadow(15px 10px 5px #000000);
    margin-bottom: .5rem;
}

#top-game-img:hover {
    filter: brightness(120%) drop-shadow(20px 10px #000000);
}

.top-game-prnts:hover {
    cursor: pointer;
    filter: brightness(120%)

}

.top-game-prnts {
    display: flex;
    justify-content: center;
    border-radius: 3%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../../assets/Images/M&B2_01.jpg');
    height: 443px;
    width: 788px;
    animation: changeImage;
    animation-duration: 25s;
    animation-delay: 2s;
    /* animation-fill-mode: forwards; */
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

@keyframes changeImage {
    0% {
        background-image: url('../../../assets/Images/M&B2_01.jpg'), url('../../../assets/Images/M&B2_02.jpg');
    }

    15% {
        background-image: url('../../../assets/Images/M&B2_02.jpg'), url('../../../assets/Images/M&B2_03.jpg');

    }

    30% {
        background-image: url('../../../assets/Images/M&B2_03.jpg'), url('../../../assets/Images/M&B2_04.jpg');
    }

    45% {
        background-image: url('../../../assets/Images/M&B2_04.jpg'), url('../../../assets/Images/M&B2_05.jpg');
    }

    60% {
        background-image: url('../../../assets/Images/M&B2_05.jpg'), url('../../../assets/Images/M&B2_06.jpg');
    }

    75% {
        background-image: url('../../../assets/Images/M&B2_06.jpg'), url('../../../assets/Images/M&B2_07.jpg');
    }
    
    90% {
        background-image: url('../../../assets/Images/M&B2_07.jpg');
    }

    
}

.top-game-prnts img {
    border-radius: 3%;

}

.second-games-bar{
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.second-games {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.second-games div {
    display: flex;
    gap: 2rem;
}

.second-games img {
    border-radius: 3%;
}
.second-games img:hover {
    filter: brightness(125%)
}