<mat-card class="card-login">
  <mat-card-header class="img-logo">
   <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <div class="form">
    <form [formGroup]="formLogin" (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email">
      </mat-form-field>
      <mat-form-field  appearance="outline">
        <mat-label>Senha</mat-label>
        <input formControlName="senha" matInput type="password">
      </mat-form-field>
      <mat-card-actions>
        <div class="button">
          <button mat-flat-button type="submit" color="warn" (click)="login()">Entrar</button>
        </div>
      </mat-card-actions>
    </form>
  </div>
</mat-card>
